@{
  Layout = "_Layout";
}

<h1>Best Restaurants</h1>
<p>Your one-stop to save and track restaurants by cuisine.<p>


<p>@Html.ActionLink("View Cuisines", "Index", "Cuisines")</p>
<p>@Html.ActionLink("View Restaurants", "Index", "Restaurants")</p>