@{
  Layout = "_Layout";
}

<h1>Best Restaurants</h1>
<p>Your one-stop to save and track restaurants by cuisine.<p>


<button class="btn btn-outline-primary">@Html.ActionLink("View Cuisines", "Index", "Cuisines")</button>
<button class="btn btn-outline-primary">@Html.ActionLink("View Restaurants", "Index", "Restaurants")</button>